.btn-circular{
    color: chocolate;
    border-radius: 0%;
    padding: 10px;
    margin-right: 10px;
    font-size: 33px;
}

table {
    text-align: center;
}

table th {
    font-size: 11px;
}

table td {
    font-size: 11px;
}

#mapid { 
    height: 350px; 
}

.coords{
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.map-container{
    border-radius: 5px;
    border: solid 1px #ccc;
}

.bullet-number{
  background-color: rgb(4, 63, 30);
  padding: 4px;
  border-radius: 3px;
  margin-right: 5px;
}

.bullet-side{
    background-color: rgb(42, 34, 151);
    padding: 4px;
    border-radius: 3px;
    margin-right: 5px;
}
.bullet-status{
    background-color: rgb(75, 70, 148);
    padding: 4px;
    border-radius: 3px;
    margin-right: 5px;
    float: right;
}
